.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 400px;
    padding: 40px;
    background: linear-gradient(0deg, #4774a8, #5e0d77);
    border-radius: 10px;
    color: white;
}